site_name: ectop
site_url: https://bbakernoaa.github.io/ectop/
repo_url: https://github.com/bbakernoaa/ectop
theme:
  name: material

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [src]

nav:
  - Home: index.md
  - Architecture: architecture.md
  - Reference: reference.md
  - Contributing: contributing.md
