name: Deploy Documentation

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Miniforge
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-variant: Miniforge3
          miniforge-version: latest
          activate-environment: ectop
          environment-file: environment.yml
          python-version: "3.11"
          use-mamba: true

      - name: Install documentation dependencies and Build
        shell: bash -el {0}
        run: |
          python -m pip install --upgrade pip
          pip install -e .[docs]
          zensical build
          touch site/.nojekyll
          ls -R site

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
          force_orphan: true # <--- THIS FIXES THE "MISSING BRANCH" ISSUE
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
