name: Deploy Documentation

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Miniforge
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-variant: Miniforge3
          activate-environment: ectop
          environment-file: environment.yml
          python-version: "3.11"
          use-mamba: true

      - name: Install documentation dependencies
        shell: bash -el {0}
        run: |
          pip install .[docs]

      - name: Build and Deploy
        shell: bash -el {0}
        run: |
          # Set git config for gh-deploy
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          mkdocs gh-deploy --force
